# Ignorar entorno virtual de Python
venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de VSCode
.vscode/

# Archivos temporales
*.log
*.tmp

# Archivos de sistema
.DS_Store
Thumbs.db
